.*.sw?
.DS_Store
.rbenv-version
Gemfile.lock
.idea

Pods
Podfile.lock

*.xcscheme

WTURLImageViewDemo.xcodeproj/xcuserdata/guidosabatini.xcuserdatad/xcschemes/xcschememanagement.plist

WTURLImageViewDemo.xcworkspace/xcshareddata/WTURLImageViewDemo.xccheckout

WTURLImageViewDemo.xcworkspace/xcshareddata/WTURLImageViewDemo.xccheckout

WTURLImageViewDemo.xcworkspace/xcuserdata/guidosabatini.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

WTURLImageViewDemo.xcworkspace/xcshareddata/WTURLImageViewDemo.xccheckout
